__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

.venv/
venv/
env/
ENV/

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
*.swp
*.swo

~$*.docx
~$*.xlsx
~$*.pptx

*.asv
*.m~

*.zip

Data_maybe/

2025_MCM-ICM_Problems/2025_Problem_*_Data.zip
论文材料.zip
